@import "../css/properties.css";

img {
  max-width: 100%;
}

.article__section {
  margin: 40px 0;
}

.article__section a {
  color: var(--color-accent);
}

.article__title {
  padding: 10px 0 10px 10px;
  border-left: 3px solid var(--color-blue);
  margin-bottom: 30px;
  font-size: var(--font-size-xxxl);
}

.article__content {
  font-size: var(--font-size-xl);
  line-height: 2;
}

.article__content h2,
.article__content h3 {
  margin-bottom: 0;
}

.article__content ul {
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0;
  list-style: square;
}

.article__content > ul > li {
  margin-top: 5px;
}

.article__content ul p {
  margin: 0;
}

.article__content table {
  border-collapse: collapse;
}

.article__content table tr:nth-child(2n) {
  background-color: var(--color-gray-pale);
}

.article__content table th,
.article__content table td {
  border: 1px solid var(--color-gray-light);
  padding: 6px 13px;
}

.article__content table th {
  font-weight: var(--font-weight-bold);
}

.article__content :not(pre) > code[class*="language-"] {
  background: #eee;
  color: var(--color-black);
}

.article__content blockquote {
  border-left: 3px solid var(--color-gray-light);
  padding-left: 10px;
}
