@import '../css/properties.css';

.article__section {
  margin: 40px 0;
}

.article__title {
  padding-left: 10px;
  border-left: 3px solid var(--color-blue);
  margin-bottom: 30px;
  font-size: var(--font-size-xxxl);
}

.article__content {
  font-size: var(--font-size-xl);
  line-height: 2;
}
