@charset "UTF-8";

@import "../../css/properties.css";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
}

.header__title {
  padding: 20px 0;
  letter-spacing: 1.2px;
}

.header__nav ul {
  display: flex;
  margin: 0;
}

.header__link {
  font-size: var(--font-size-xl);
  display: block;
  padding: 15px;
}
