@charset "UTF-8";

@import "./properties.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
  font-size: 62.5%;
}

body {
  color: var(--color-text);
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-link);
}

a:hover {
  color: var(--color-accent);
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: var(--max-width);
  padding: 0 10px;
  margin: 0 auto;
}
