@charset "UTF-8";

@import "./properties.css";

:root {
  font-size: 62.5%;
}

body {
  color: var(--color-text);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-link);
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: var(--max-width);
  padding: 0 10px;
  margin: 0 auto;
}
